.hd-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #9534cc;
}
.hd-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}

.hd-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
  justify-content: space-between;
}

/* .hd-legal-list li:nth-last-child(1) {
  flex: 1;
} */

