 body {

    background-image: url("../image/login1.png");
}


.login-form {
    width: 380px;
    margin: 50px auto;
  	font-size: 15px;
    
}
.login-form form {
    margin-bottom: 15px;
    background: #a4f4fc;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}
.btn {        
    font-size: 15px;
    font-weight: bold;
}
.login-form button {
    font-family: Ubuntu-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 05px;
    width: 160px;
    height: 42px;
    border-radius: 21px;
    background: #24869e;
    background: -webkit-linear-gradient(left,#217d94,#298399,#1c7d96);
    background: -o-linear-gradient(left,#1e7f97,#d41872,#fa4299);
    background: -moz-linear-gradient(left,#217d94,#d41872,#fa4299);
    background: linear-gradient(left,#217d94,#d41872,#fa4299);
    position: relative;
    z-index: 1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    border: none;
}

.login-form button:hover {
    background: #18000b;
    background: -webkit-linear-gradient(left,#52072b,#fa4299);
    background: -o-linear-gradient(left,#74063b,#fa4299);
    background: -moz-linear-gradient(left,#c24883,#fa4299);
    background: linear-gradient(left,#fa3092,#fa4299);
  
}